html{
  font-family: century-gothic, sans-serif;
  text-align:center;
}


ul{
  display:inline-block;
  margin: 0px 40px;
}

li{
  list-style:none;
  margin:10px
}

a{
  margin:20px;
    text-decoration:none;
}

div{
  background-color:skyblue;
  padding:10px;
}